/* Lists of stories */

.stories-list {
  margin: 20px 5px;
  list-style: none;
  counter-reset: list;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  position: relative;
}

.stories-list > li::before {
  counter-increment: list;
  content: counter(list) ".";
  position: absolute;
  right: 100%;
  margin-right: 5px;
  top: 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 1.5em;
  margin-top: 0.5em;
  color: rgb(1, 162, 1);
  font-size: 1em;
  font-weight: 500;
  display: block;
}

.story-user {
  margin-left: 1.5em;
  margin-top: 0.5em;
  color: rgb(226, 136, 0);
  font-size: 1em;
  font-weight: 500;
  display: block;
}
